<header>
    <nav class="menu" role="navigation">
        <div class="menu__toggle">
            <input id="checkMenu" type="checkbox">
            <span></span>
            <span></span>
            <span></span>
            <ul class="navbar"></ul>
            <li><a class="link-item" [routerLink]="['/home']">Home</a></li>
            <li><a class="link-item" [routerLink]="['/characters-list']">Characters</a></li>
            <li><a class="link-item" [routerLink]="['/episodes']">Episodes</a></li>
            <li><a class="link-item" [routerLink]="['/about']">About</a></li>
        </div>
    </nav>
</header>
